@charset "utf-8";
.w100 {width:100%;}

/* ******************** 공용 ******************** */

body {font-family:'Pretendard'; font-size:16px; font-weight:400; line-height:1.6; color:#484848; word-break:keep-all;}
body * {box-sizing:border-box;}

.subInner {padding:10px;}
p.state {position:absolute; right:0; top:-20px;width:160px; height:42px; line-height:42px; background:#E1EDF9; text-align:center;}

/* ***** contents ***** */
.contents {position:relative; max-width:100%; overflow:hidden;background:#F1F3F9;}
.contents-wrap {padding:40px 0 100px; width:1400px; margin:0 auto; overflow:hidden;}

.page-title {padding:30px 0 10px; margin:0 0 26px; overflow:hidden; border-bottom:1px solid #C9E1E8;}
.page-title h2 {float:left; padding:0 0 0 48px; font-size:26px; font-weight:700; color:#171717; background:url(../../images/common/i-tit.png)8px 50% no-repeat;}
.page-title ul {padding-right:15px; float:right; overflow:hidden;}
.page-title ul li {float:left; font-size:14px; font-weight:500; position:relative; color:#484848;}
.page-title ul li+li {padding-left:26px;}
.page-title ul li+li:before {content:'>'; display:block; position:absolute; left:8px; top:0;}


/* ************************* 공통 ************************* */
/* ***** pagenation ***** */
.pagenation {font-family:'roboto'; margin-top:30px; position:relative;}
.pagenation .pageWrap {}
.pagenation .pageWrap ul.pc {font-size:0; text-align:center;}
.pagenation .pageWrap ul.pc li {padding:0 6px; display:inline-block; font-size:16px; vertical-align:middle;}
.pagenation .pageWrap ul.pc li a {display:block; width:40px; height:40px; line-height:40px; font-weight:700; color:#223354; border-radius:6px;}
.pagenation .pageWrap ul.pc li:hover a {background-color:#f1f1f1;}
.pagenation .pageWrap ul.pc li.active a {background:#26779B; color:#fff;}
.pagenation .pageWrap ul.pc li.prev a {background:url(../../images/common/pageIcon-prev.svg)center no-repeat;}
.pagenation .pageWrap ul.pc li.next a {background:url(../../images/common/pageIcon-next.svg)center no-repeat;}
.pagenation .pageWrap ul.pc li.first a {background:url(../../images/common/first.png)center no-repeat;}
.pagenation .pageWrap ul.pc li.last  a {background:url(../../images/common/last.png)center no-repeat;}

/* ---- 2021.12.27 ADD START --------- */
/* ***** signArea ***** */
.signArea.type1 {background:#f1f1f1; padding:20px;}
.signArea.type1>p {text-align:center;}
.signArea.type1>p+p {padding-top:20px;}
.signArea.type1>p.right {text-align:right;}
.signArea.type1>p span {}
.signArea.type1>p a.sign {display:inline-block; margin-left:20px; padding:0 20px; background:#2E68FF; color:#fff; border-radius:5px;}

.signArea.type2 {border-top:1px solid #e5e5e5; padding:30px 0;}
.signArea.type2>p {text-align:center;}
.signArea.type2>p+p {padding-top:20px;}
.signArea.type2>p.right {text-align:right;}
.signArea.type2>p span {}
.signArea.type2>p a.sign {display:inline-block; margin-left:20px; padding:0 20px; background:#2E68FF; color:#fff; border-radius:5px;}
/* ---- 2021.12.27 ADD END ----------- */

/* ***** tabWrap ***** */
.tabWrap {position:relative;}
/* ***** tabWrap::type1 ***** */
.tabWrap.type1 {}
.tabWrap.type1 ul {}
.tabWrap.type1 ul li {float:left; box-shadow:0 0 4px rgba(0,0,0,.1)}
.tabWrap.type1 ul li a {
    display:block; font-size:20px; font-weight:500; color:#ABB8BC; line-height:1;text-align:center; box-shadow:3px 3px 4px rgba(0,0,0,.05) inset;
    height:54px; line-height:52px; background:#fff; border-radius:7px;
}
.tabWrap.type1 ul li+li {margin-left:10px;}
.tabWrap.type1 ul.li-2 li {width:calc((100% - 10px)/2);}
.tabWrap.type1 ul.li-3 li {width:calc((100% - 20px)/3);}
.tabWrap.type1 ul.li-4 li {width:calc((100% - 30px)/4);}
.tabWrap.type1 ul.li-5 li {width:calc((100% - 40px)/5);}
.tabWrap.type1 ul li.on {box-shadow:none;}
.tabWrap.type1 ul li.on a {background:#2E68FF; color:#fff; box-shadow:none;}
.tabWrap.type1 ul.li-5 li:nth-child(5n+1) {margin-left:0;}
.tabWrap.type1 ul.li-5 li:nth-child(5)~li {margin-top:10px;}

/* ***** tabWrap::type2 ***** */
.tabWrap.type2 {position:relative;}
.tabWrap.type2 p.state {position:absolute; right:0; top:0;width:160px; height:42px; line-height:42px; background:#E1EDF9; text-align:center;}
.tabWrap.type2 ul {overflow:hidden;}
.tabWrap.type2 ul li {float:left; padding:0 17px; background:#ABB8BC; border-bottom:10px solid #F1F3F9; border-radius:5px; position:relative;}
.tabWrap.type2 ul li+li {margin-left:5px;}
.tabWrap.type2 ul li a {display:block; padding:10px; border-bottom:1px solid transparent; color:#CFD6D8;}
.tabWrap.type2 ul li.on {border:1px solid #C9E1E8; border-bottom:5px solid #fff; background:#fff; z-index:99;}
.tabWrap.type2 ul li.on a {border-color:#234BB1; color:#234BB1;}
/* ***** tabWrap::type3 ***** */
.tabWrap.type3 {}
.tabWrap.type3 ul li {float:left; box-shadow:0 0 4px rgba(0,0,0,.1);}
.tabWrap.type3 ul li a {
    display:block; font-size:17px; font-weight:500; color:#ABB8BC; line-height:1;text-align:center; box-shadow:3px 3px 4px rgba(0,0,0,.05) inset;
    height:54px; line-height:52px; background:#fff; border-radius:7px;
}
.tabWrap.type3 ul li+li {margin-left:10px;}
.tabWrap.type3 ul.li-2 li {width:calc((100% - 10px)/2);}
.tabWrap.type3 ul.li-3 li {width:calc((100% - 20px)/3);}
.tabWrap.type3 ul.li-4 li {width:calc((100% - 30px)/4);}
.tabWrap.type3 ul.li-5 li {width:calc((100% - 40px)/5);}
.tabWrap.type3 ul li.on {box-shadow:none;}
.tabWrap.type3 ul li.on a {background:#1E7BA9; color:#fff; box-shadow:none;}

/* ***** tabWrap::type4 ***** */
.tabWrap.type4 {position:relative; z-index:99;}
.tabWrap.type4 p.state {position:absolute; right:0; top:0;width:160px; height:42px; line-height:42px; background:#E1EDF9; text-align:center;}
.tabWrap.type4 ul {overflow:hidden; position:relative;}
.tabWrap.type4 ul li {float:left; padding:0 25px; background:#ABB8BC; border:1px solid transparent; border-bottom:0; border-radius:5px 5px 0 0; position:relative;}
.tabWrap.type4 ul li+li {margin-left:5px;}
.tabWrap.type4 ul li a {display:block; padding:14px 10px 7px;color:#CFD6D8; font-weight:500; border-bottom:2px solid transparent; font-size:18px;}
.tabWrap.type4 ul li.on {border-color:#C9E1E8; background:#fff; z-index:99;}
.tabWrap.type4 ul li.on a {color:#234BB1;  font-weight:600;border-color:#234BB1;}
/* .tabWrap.type4 ul:after {content:''; display:block; width:100%; height:1px; background:#000; position:absolute; left:0; bottom:-1px;} */

/* ***** tabWrap::type5 ***** */
.tabWrap.type5 {}
.tabWrap.type5 ul {font-size:0; text-align:center;}
.tabWrap.type5 ul li {display:inline-block; margin:10px; font-size:17px; box-shadow:0 0 4px rgba(0,0,0,.1);}
.tabWrap.type5 ul li a {padding:10px 40px; display:block; font-weight:500; color:#ABB8BC; border-radius:10px; border:1px solid #abb8bc; box-shadow:3px 3px 4px rgba(0,0,0,.05) inset; line-height:1;}
.tabWrap.type5 ul li.on {}
.tabWrap.type5 ul li.on a {border:2px solid; color:#2E68FF; box-shadow:none;}


.tabInner { margin-top:-1px; position:relative; z-index:9;}
.tabInner>ul {}
/* .tabInner ul li {border:1px solid #C9E1E8; padding:20px; background:#fff; border-radius:5px;} */
/* .tabInner ul li {border:1px solid #C9E1E8; padding:20px; background:#fff; border-radius:5px;} */
.tabInner>ul>li {display:none;}
.tabInner>ul>li.on  {display:block;}
.tabInner>ul>li.on a {}

.tabInnerFrom {border:1px solid #C9E1E8; padding: 20px;background:#fff; border-radius:5px;}

input[type="radio"], 
input[type="checkbox"] {margin:0; vertical-align:middle;}
input[type="radio"]+label, 
input[type="checkbox"]+label {height:35px; line-height:35px; font-size:15px; font-weight:400; cursor:pointer; display:inline-block; vertical-align:middle;}

/* ***** formLayout ***** */
.formLayout {position:relative;}
.formLayout label {cursor:pointer;}
.formLayout input[type="text"].w100 {width:100%;}
.formLayout textarea.w100 {width:100%;}
.formLayout button,
.formLayout input[type="text"],
.formLayout input[type="password"] {padding:0 10px; height:35px; line-height:33px; border-radius:5px; border:1px solid #D4D4D4;background-color:#fff; color:#484848;}
.formLayout input[type="checkbox"]+label,
.formLayout input[type="radio"]+label {line-height:33px; padding-right:10px;}
.formLayout textarea {border-radius:5px; border:1px solid #D4D4D4;background-color:#fff; color:#484848;}
/* 20211129 ADD */.formLayout .textbox .textbox-text {border:0;}
.btnCheck input[type="radio"], 
.btnCheck input[type="checkbox"] {position:absolute; left:-999999999px;}
.btnCheck input[type="radio"]+label, 
.btnCheck input[type="checkbox"]+label {padding:10px 15px; font-size:13px; font-weight:500; color:#BCC7CA; border:1px solid; border-radius:5px; line-height:1; cursor:pointer; display:inline-block;}
.btnCheck input[type="radio"]:checked+label, 
.btnCheck input[type="checkbox"]:checked+label {color:#2E68FF;}
.formLayout .cal {}
.formLayout .cal>div {display:inline-block;}
.formLayout .cal .cal-date {position:relative;}
.formLayout .cal .cal-date input {padding-right:40px;}
.formLayout .cal .cal-date input::disabled {background:inherit;}
.formLayout .cal .cal-date a {position:absolute; right:0; top:0;width:35px; height:100%; background:url(../../images/common/i-cal.svg)center no-repeat;}
.formLayout .cal .cal-span {}

/* 20211129 ADD .formGroup {padding:5px 0;} */

.formLayout .formGroup {padding:5px 0;}
.formLayout .formGroup.middle>*{vertical-align:middle;}
.formLayout .formGroup.top>*{vertical-align:top;}
.formLayout .formGroup p {display:inline-block; padding-left:10px; width:150px; color:#171717; font-size:15px; font-weight:500;}
.formLayout .formGroup span.label {display:inline-block; padding-left:10px; color:#171717; font-size:15px; font-weight:500; line-height:1.2;}
.formLayout .formGroup .inputWrap {display:inline-block;}
/* 20211129 REMOVE */.formLayout .formGroup .inputWrap span {display:inline-block;padding:0 20px;color:#171717; font-size:15px; font-weight:500;}
.formLayout .formGroup .inputWrap span.bar {padding:0; width:20px; color:#ABB8BC; font-size:15px; font-weight:500; text-align:center;}
.formLayout .formGroup .inputWrap+.inputWrap {margin-left:30px ;}
.formLayout .formGroup .inputWrap .btn {padding:0 20px; color:#fff; background:#96D019; border:0;}
.formLayout .formGroup .inputWrap .btn.blue {background:#2E68FF;}
.formLayout .formGroup .inputWrap .btn.black {background:#000;}
.formLayout .formGroup .inputWrap.inLabel {position:relative;}
.formLayout .formGroup .inputWrap.inLabel input {padding-left:100px; font-size:14px;}
.formLayout .formGroup .inputWrap.inLabel label {font-size:14px; font-weight:500; color:#1e7ba9; position:absolute; left:20px; padding-top:10px; cursor:auto; line-height:1.2;}
.formLayout .formGroup .inputWrap.inLabel+.inputWrap {margin-left:0;}
.formLayout .formGroup.checkboxWrap {}
.formLayout .formGroup.checkboxWrap .inputWrap+.inputWrap {margin-left:0;}
/* .formLayout .formGroup span.label .plus {position:absolute; right:0; top:0;} */
/* 20211129 ADD */.formLayout .formGroup span.label .plus {border:1px solid #e5e5e5; display:inline-block; line-height:40px; padding:0 20px;}
/* 20211129 ADD */.tableModify {}
/* 20211129 ADD */.tableModify a {display:block; width:20px; height:20px; line-height:18px; text-align:center; color:#fff;}
/* 20211129 ADD */.tableModify a.plus {background:#012863;}
/* 20211129 ADD */.tableModify a.minus {background:#f00;}
/* 20211129 ADD */.tableModify a:hover {color:#fff;}

.formLayout .formList {}
.formLayout .formList .formGroup {}
.formLayout .formList .formGroup .inputWrap {float:left; overflow:hidden; margin-bottom:10px; margin-left:20px; width:calc((100% - 20px)/2); padding:13px 20px; border:1px solid #2D7BE3; border-radius:10px;}
.formLayout .formList .formGroup .inputWrap:nth-child(2n+1){margin-left:0;}
.formLayout .formList .formGroup .inputWrap>* {float:left; font-size:15px;}
.formLayout .formList .formGroup .inputWrap span {width:65px; padding:0; line-height:1.2; border-right:1px solid; color:#2D7BE3; }
.formLayout .formList .formGroup .inputWrap input {width:calc(100% - 65px); height:auto; padding:0 0 0 20px; color:#484848; border:0; line-height:1.2;}
 /* ***** form ***** */
.formType1 {}
.formType1 {}
.formType1 input {padding:0 8px;}
.formType1 input,
.formType1 select {height:30px; line-height:28px; border:1px solid #7A828B; border-radius:5px; font-size:13px;}
.formType1 select {width:120px; padding:0 30px 0 8px; background:#F1F3F9 url(../../images/common/applyArrow.svg)calc(100% - 10px) 50% no-repeat;}
.formType1 input {}
.formType1 select {}
.formType1 .mark {font-size:10px; color:#7A828B;font-weight:400;}
.formType1 input[type="checkbox"] {position:absolute; left:-9999999999999px;}
.formType1 input[type="checkbox"]+label {padding-left:24px; padding-right:15px; background:url(../../images/common/i-check.svg)0 50% no-repeat;}
.formType1 input[type="checkbox"]:checked+label {background-image:url(../../images/common/i-check-on.svg);}
.formType1 label:last-child {padding-right:0;}
/* .formType1.tableWrap table tr .th {color:#75818F; font-size:12px; font-weight:400;} */
/* .formType1.tableWrap table tr .th b {color:#000; font-size:18px; font-weight:500; display:block;} */
/* .formType1.tableWrap.type1 {} */
/* .formType1.tableWrap.type1 table tr>*+*{border-left:1px solid #958C8A;} */
.formType1 td {white-space:nowrap;}
.formType1 .address {}
.formType1 .address div {}
.formType1 .address div+div {margin-top:7px;}
.formType1 .address div input {}
.formType1 .address div button { width:76px; height:30px; line-height:30px; background:#2D7BE3; border-radius:5px; color:#fff; font-size:14px;}
.formType1 button.formBtn { width:76px; height:30px; line-height:30px; background:#2D7BE3; border-radius:5px; color:#fff; font-size:14px;}
.formType1 select.bgWhite {background-color:#fff;}
.formType1 .formDesc {padding-left:20px; display:inline-block; color:#666; font-size:15px; vertical-align:middle; white-space:normal}
.formType1 p.formDesc {display:block; padding-left:0; padding-top:5px;}


.formType1 .filebox {overflow:hidden;}
.formType1 .filebox input.upload-name {float:left; width:calc(100% - 160px); border:0; background:transparent;}
.formType1 .filebox label {float:right; width:76px;}
.formType1 .filebox .upload-name {}
.formType1 .filebox .del {float:right; width:76px;}


.formType2 {}
.formType2 {}
.formType2 input {padding:0 8px;}
.formType2 button,
.formType2 input,
.formType2 select {height:35px; line-height:33px; border:1px solid #7A828B; border-radius:5px; font-size:13px;}
.formType2 select {width:100px; padding:0 30px 0 8px; background:#F1F3F9 url(../../images/common/applyArrow.svg)calc(100% - 10px) 50% no-repeat;}
.formType2 input {}
.formType2 select {}
.formType2 .mark {font-size:10px; color:#7A828B;font-weight:400;}
.formType2 input[type="checkbox"] {position:absolute; left:-9999999999999px;}
.formType2 input[type="checkbox"]+label {padding-left:24px; padding-right:15px; background:url(../../images/common/i-check.svg)0 50% no-repeat;}
.formType2 input[type="checkbox"]:checked+label {background-image:url(../../images/common/i-check-on.svg);}
.formType2 label:last-child {padding-right:0;}
.formType2.tableWrap table tr .th {color:#75818F; font-size:12px; font-weight:400;}
.formType2.tableWrap table tr .th b {color:#000; font-size:18px; font-weight:500; display:block;}
.formType2.tableWrap.type1 {}
.formType2.tableWrap.type1 table tr>*+*{border-left:1px solid #958C8A;}
.formType2 td {white-space:nowrap;}
.formType2 .address {}
.formType2 .address div {}
.formType2 .address div+div {margin-top:7px;}
.formType2 .address div input {}
.formType2 .address div button { width:76px; height:30px; line-height:30px; background:#2D7BE3; border-radius:5px; color:#fff; font-size:14px;}
.formType2 select.bgWhite {background-color:#fff;}
.formType2 button {font-size:16px;}

/* .formType3 {padding:20px; background:#F1F3F9; border-radius:10px; } */
/* .formType3 .search-form .search-column {padding:0;} */
/* .formType3 .search-form .search-column select {width:200px;} */
/* .formType3 .search-form .search-column .textbox .textbox-text {width:calc(100% - 200px) !important;} */
/* .formType3 .search-form .search-column .btn {width:100px; padding:0; font-weight:500; height:37px; line-height:35px; font-size:16px; color:#2e68ff; border:1px solid; border-radius:8px; background:transparent;} */



/* ***** tableWrap ***** */
.tableGroup {position:relative;}
.tableWrap {position:relative;}
/* .tableWrap>table {width:100%;} */
.tableWrap table {width:100%;}
.tableWrap tr th {text-align:center;}
.tableWrap tr td .mapMove {display:block; width:100%; height:22px; background:url(../../images/common/i-mapMove.svg)center no-repeat;}
.tableWrap tr *.left {text-align:left;}
.tableWrap tr.sub-list {background:#F4F5F6;}
.tableWrap tr.sub-list td span.line {position:relative; padding-left:16px;}
.tableWrap tr.sub-list td span.line:before {content:''; display:block; width:8px; height:8px; border-style:solid; border-color:#ABB8BC; border-width:0 0 1px 1px; position:absolute; left:0; top:0;}
.tableWrap.type1 tr td.blue {color:#2E68FF;}
/* 2021.11.03 usr added start */
.tableWrap tr td.must {position:relative;}
.tableWrap tr td.must span {display:inline-block; position:relative; padding-right:10px;}
.tableWrap tr td.must span:after {content:'*'; color:#f00; position:absolute; right:0; top:0; line-height:1;}
.tableWrap td .qMark {color:#2E68FF; font-weight:700; font-size:20px;}
.tableWrap td .aMark {color:#f00; font-weight:700; font-size:20px;}
.tableWrap .lock td.left {padding-left:46px; background:url(../../images/common/i-lock.svg)20px center no-repeat;}
.tableWrap tr td span.box {margin:5px 0; padding:8px 15px; display:inline-block; font-size:17px; background:#F1F3F9; border-radius:10px; line-height:1;}
.tableWrap tr td p.inline {display:inline-block;}
.tableWrap tr td span.box+p.inline {padding-left:10px;}
.tableWrap tr td b {font-weight:600;}
.tableWrap tr td b.blue {color:#2E68FF;}
.tableWrap tr td b.red {color:#f00;}
.tableWrap tr td b.black {color:#484848;}
.tableWrap span.mark {display:inline-block; background:transparent;}
/* 2021.11.03 usr added end */

/* tableWrap::type1 */
/* .tableWrap.type1 {overflow:auto; white-space:nowrap;} */
.tableWrap.type1>table {text-align:center; border:1px solid #C9E1E8; border-radius:5px; overflow:hidden; background:#C9E1E8;}
.tableWrap.type1 thead {}
.tableWrap.type1 thead tr {background:#E1EDF9;}
.tableWrap.type1 tbody {}
.tableWrap.type1 tbody {}
.tableWrap.type1 tbody tr {}
.tableWrap.type1 tbody tr:nth-child(odd) {background:#fff;}
.tableWrap.type1 tbody tr:nth-child(even) {background:#F4F5F6;}
.tableWrap.type1 tr {}
.tableWrap.type1 tr>* {padding:5px 16px; font-size:15px; }
.tableWrap.type1 tr th {font-weight:500; color:#171717;}
.tableWrap.type1 tr td {font-weight:400;}
.tableWrap.type1 tr td a.detail {margin-left:20px; padding:5px 25px; display:inline-block; font-size:14px; font-weight:500; color:#7A828B; border:1px solid; border-radius:10px; line-height:1;}
.tableWrap.type1 tr td a.detail:hover {color:#fff; background:#2E68FF;}
.tableWrap.type1 tr td a.detail+a.detail {margin-left:5px;}
.tableWrap.type1 tr td.btn a {padding:5px 24px; font-size:14px; font-weight:500; color:#7A828B; border:1px solid; border-radius:10px; line-height:1;}
.tableWrap.type1 tr td span.second {position:relative; padding-left:16px;}
.tableWrap.type1 tr td span.second:before {content:''; display:block; width:8px; height:8px; border-style:solid; border-color:#ABB8BC; border-width:0 0 1px 1px; position:absolute; left:0; top:0;}
.tableWrap.type1 tr.result {background:#FFF5EF !important;}
.tableWrap.type1 tr.result td {color:#171717 !important; font-weight:500 !important;}
td a.detail {margin-left:20px; padding:5px 20px; display:inline-block; font-size:inherit; font-weight:500; color:#7A828B; border:1px solid; border-radius:10px; line-height:1;}
td a.detail:hover {color:#fff; background:#2E68FF;}
td a.detail+a.detail {margin-left:5px;}

/* treegrid */
/* .tableWrap.type1 .tree-title {font-size:16px;} */
/* .tableWrap.type1 .treegrid-tr-tree {background-color:#F4F5F6 !important;} */
/* .tableWrap.type1 .treegrid-tr-tree td {padding:0;} */


/* tableWrap::type2 */
/* .tableWrap.type2 {} */
/* .tableWrap.type2 table {text-align:center;} */
/* .tableWrap.type2 thead {} */
/* .tableWrap.type2 tbody {} */
/* .tableWrap.type2 tbody {} */
/* .tableWrap.type2 tr:hover {background:#f9f9f9;} */
/* .tableWrap.type2 tr>* {padding:12px 20px; border-style:solid; border-width:1px 0 1px 0; border-color:#e5e5e5; font-weight:400; color:#000;} */
/* .tableWrap.type2 tr>*+* {border-left:1px solid #e5e5e5;} */
/* .tableWrap.type2 tr th {color:#000; background:#f5f5f5; border-color:#000; border-left-color:#e5e5e5;} */
/* .tableWrap.type2 tr td {} */

/* tableWrap::type3 */
/* .tableWrap.type3 {} */
/* .tableWrap.type3 table {text-align:center;border-top:2px solid #000; } */
/* .tableWrap.type3 thead {} */
/* .tableWrap.type3 tbody {} */
/* .tableWrap.type3 tbody {} */
/* .tableWrap.type3 tr {border-bottom:1px solid #958C8A; cursor:pointer;} */
/* .tableWrap.type3 tr:hover {background:#f9f9f9;} */
/* .tableWrap.type3 tr>* {padding:10px 20px; font-weight:400; color:#000;} */
/* .tableWrap.type3 tr th {color:#000; background:#F1F3F9; font-size:15px; font-weight:600;} */
/* .tableWrap.type3 tr td {} */
/* .tableWrap.type3 tr td span {} */


/* tableWrap::type2 */
.tableWrap.type2 {}
.tableWrap.type2 table {text-align:center; border-top:1px solid #000;}
.tableWrap.type2 thead {border-bottom:1px solid #adadad; background:#f9f9f9;}
.tableWrap.type2 tbody {}
.tableWrap.type2 tbody {}
.tableWrap.type2 tbody tr:hover {background:#f9f9f9; cursor:pointer;}
.tableWrap.type2 tr {border-bottom:1px solid #e5e5e5;}
.tableWrap.type2 tr:last-child {border-bottom-color:#adadad;}
.tableWrap.type2 tr>* {padding:17px 10px; font-weight:300;}
.tableWrap.type2 tr th {color:#000;}
.tableWrap.type2 tr td {}

/* tableWrap::type3 */
.tableWrap.type3 {}
.tableWrap.type3 table {border-top:2px solid #000;}
.tableWrap.type3 thead {}
.tableWrap.type3 tbody {}
.tableWrap.type3 tbody {}
.tableWrap.type3 tr {border-bottom:1px solid #958C8A;}
.tableWrap.type3 tr>* {padding:10px 20px; font-weight:400; color:#000;}
.tableWrap.type3 tr>*.left {text-align:left;}
.tableWrap.type3 tr th {color:#000; border-right:1px solid #958C8A; background:#F1F3F9; font-size:15px; font-weight:600; text-align:center;}
.tableWrap.type3 tr th:last-child {border-right:0;}
.tableWrap.type3 tr td {}
.tableWrap.type3 tr td span {}
/* tableWrap::type4 */
.tableWrap.type4 {}
.tableWrap.type4 table {text-align:center;border-top:2px solid #000; }
.tableWrap.type4 tr {border-bottom:1px solid #958C8A;}
/* .tableWrap.type4 tr:hover {background:#f9f9f9;} */
.tableWrap.type4 tr>* {padding:10px 20px; font-weight:400; color:#000; border-bottom:1px solid #958C8A; border-right:1px solid #958C8A;}
.tableWrap.type4 tr>*.left {text-align:left;}
.tableWrap.type4 tr>*:last-child {border-right:0;}
.tableWrap.type4 tr>*+* {}
.tableWrap.type4 thead tr th {color:#000; background:#F1F3F9; font-size:15px; font-weight:600;}
.tableWrap.type4 tbody tr th {color:#000; background:#F1F1F1; font-size:15px; font-weight:600;}

/* tableWrap::type5 */
.tableWrap.type5 {}
.tableWrap.type5 table {text-align:center;border-top:2px solid #000; }
.tableWrap.type5 tr {border-bottom:1px solid #958C8A;}
.tableWrap.type5 tr>* {padding:10px 20px; font-weight:400; color:#000;}
.tableWrap.type5 tr>*.left {text-align:left;}
.tableWrap.type5 tr>*+* {border-left:1px solid #958C8A;}
.tableWrap.type5 tr th {color:#000; background:#F1F3F9; font-size:15px; font-weight:600;}

/* tableWrap::type6 */
.tableWrap.type6 {text-align:left; border-top:2px solid #000;}
.tableWrap.type6 table {}
.tableWrap.type6 table tr {border-bottom:1px solid #958C8A;}
.tableWrap.type6 table tr>* {height:35px; line-height:33px; font-size:17px; font-weight:400;}
.tableWrap.type6 table tr th {padding:10px 20px; color:#000;}
.tableWrap.type6 table tr td {padding:10px 0; color:#484848;}
.tableWrap.type6 table tr td .inputWrap {}
.tableWrap.type6 table tr td .inputWrap>* {vertical-align:middle;}
.tableWrap.type6 table tr td .inputWrap.callWrap span {width:110px; display:inline-block;}
.tableWrap.type6 table tr td .inputWrap .call {width:110px; margin:2px;}
.tableWrap.type6 table tr td .mailWrap .mail {width:160px;}
.tableWrap.type6 table tr td .mailWrap select {width:120px;}
.tableWrap.type6 table tr td .mailWrap .mail+.mark {font-size:10px; color:#7A828B; padding:0;}


/* ---- 2021.12.27 ADD START --------- */
/* tableWrap::type7 */
.tableWrap.type7 {}
.tableWrap.type7 table {text-align:center;border-top:2px solid #000; }
.tableWrap.type7 tr {border-bottom:1px solid #958C8A;}
/* .tableWrap.type4 tr:hover {background:#f9f9f9;} */
.tableWrap.type7 tr>* {padding:10px 20px; font-weight:400; color:#000; border-bottom:1px solid #958C8A; border-right:1px solid #958C8A;}
.tableWrap.type7 tr>*.left {text-align:left;}
.tableWrap.type7 tr>*:last-child {border-right:0;}
.tableWrap.type7 tr>*+* {}
.tableWrap.type7 thead tr th {color:#000; background:#F1F3F9; font-size:15px; font-weight:600;}


/* tableWrap::type8 */
.tableWrap.type8 {}
.tableWrap.type8 table {border-top:2px solid #000;}
.tableWrap.type8>table thead {}
.tableWrap.type8>table tbody {}
.tableWrap.type8>table tbody {}
.tableWrap.type8>table tr {border-bottom:1px solid #958C8A;}
.tableWrap.type8>table tr>* {padding:10px 20px; font-weight:400; color:#000;}
.tableWrap.type8>table tr>*.left {text-align:left;}
.tableWrap.type8>table tr th {color:#000; border-right:1px solid #958C8A; background:#F1F3F9; font-size:15px; font-weight:600; text-align:center;}
.tableWrap.type8>table tr th:last-child {border-right:0;}
.tableWrap.type8>table tr td {}
.tableWrap.type8>table tr td span {}
.tableWrap.type8 .tableWrap.type7 tbody tr th {background:#f9f9f9;}
/* ---- 2021.12.27 ADD END ----------- */


.table-subTitle {font-size:14px; padding-bottom:5px;}
.table-subTitle span {}

/* 버튼 */
.btnWrap {position:relative;}
.btnWrap a {}
.btnWrap a:hover {}
.btnWrap.right {text-align:right !important;}
.btnWrap a.blue { color:#fff!important; background:#1E7BA9 !important; }
/*************************************************************/

/* 버튼::type0 */
.btnWrap.type0 {text-align:center; font-size:0; margin-top:14px;}
.btnWrap.type0 a {display:inline-block; padding:12px 32px; font-size:15px; font-weight:500;line-height:1;border:1px solid; border-radius:10px;background:#fff; color:#012863;}
.btnWrap.type0 a.blue { color:#fff; background:#012863 !important; }
/* 버튼::type2 */
/* .btnWrap.type2 {text-align:center; font-size:0; margin-top:20px;} */
/* .btnWrap.type2 a {display:inline-block; padding:18px 55px; font-size:16px; font-weight:400; color:#000; background:#F1F3F9; line-height:1;border:1px solid #ddd; border-radius:8px;} */
/* .btnWrap.type2 a:hover {background:#2E68FF; color:#fff;} */
/* 버튼:type3 */
/* .btnWrap.type3 {padding-top:30px;} */
/* .btnWrap.type3 {text-align:center; font-size:0;} */
/* .btnWrap.type3 a {display:inline-block; width:206px; padding:18px 0; border:1px solid #ddd; background:#F1F3F9; color:#000; font-size:17px; border-radius:8px; line-height:1;text-align:center; font-weight:500;} */
/* .btnWrap.type3 a+a {margin-left:10px;} */
/* .btnWrap.type3 a:hover {background:#1E7BA9; color:#fff;} */
/*************************************************************/
/* 버튼:type1 */
.btnWrap {}
.btnWrap.type1 {text-align:center; font-size:0;}
.btnWrap.type1 a {margin:10px; display:inline-block; background:#F1F3F9; color:#75818F; font-size:18px; border-radius:50px; line-height:1.2;}
.btnWrap.type1 a+a {}

/* 버튼:type2 */
.btnWrap.type2 {padding-top:30px;}
.btnWrap.type2 {text-align:right; font-size:0;}
.btnWrap.type2 a {display:inline-block; width:206px; padding:18px 0; border:1px solid #ddd; background:#F1F3F9; color:#000; font-size:17px; border-radius:8px; line-height:1;text-align:center; font-weight:500;}
.btnWrap.type2 a+a {margin-left:10px;}

/* 버튼:type3 */
.btnWrap.type3 {padding-top:30px;}
.btnWrap.type3 {text-align:center; font-size:0;}
.btnWrap.type3 a {display:inline-block; width:206px; padding:18px 0; border:1px solid #ddd; background:#F1F3F9; color:#000; font-size:17px; border-radius:8px; line-height:1;text-align:center; font-weight:500;}
.btnWrap.type3 a+a {margin-left:10px;}
.btnWrap.type3 a:hover {background:#1E7BA9; color:#fff;}

.btnDiv {position:relative; height:50px; text-align:right; z-index:9;}
.btnDiv a.btn {position:static; display:inline-block;}
/* .btnDiv a.btn+a.btn {margin-left:5px;} */
.btnDiv.type2 {position:absolute; right:0; top:0; height:auto;}
.btnDiv.type3 {font-size:0; text-align:center; padding-top:30px; border-top:1px solid #ABB8BC; height:auto;}
.btnDiv.type3 a.btn {display:inline-block; margin:5px; float:none; position:static; font-size:16px;}
a.btn {padding:12px 24px;line-height:1;background:#fff; color:#012863; border:1px solid; border-radius:10px;}
a.btn.blue {color:#fff; background:#012863;}

/* searchWrap */
.searchWrap {}

/* searchWrap::type1 */
.searchWrap.type1 {}
.searchWrap.type1 {}
.searchWrap.type1 {padding:20px 40px; background: #F1F3F9; border-radius: 8px;}
.searchWrap.type1 .inputWrap {height:45px; line-height:45px; padding:11px 0; background:#fff; float:left; width:calc(100% - 102px); border:1px solid #7A828B;border-radius: 8px; overflow:hidden;}
.searchWrap.type1 .inputWrap.submit {padding:0; width:88px; margin-left:14px; border-color:#2E68FF;}
.searchWrap.type1 .inputWrap>* {float:left;font-size:13px;  border:0; line-height:21px;}
.searchWrap.type1 .inputWrap select {padding:0 30px 0 10px; width:110px; background-image:url(../../images/common/board_select_arrow.svg); background-position:right 20px center; text-align:center; background-color:#fff; height:auto;}
.searchWrap.type1 .inputWrap input {padding:0 24px; border-left:1px solid #7A828B; width:calc(100% - 110px);}
.searchWrap.type1 .inputWrap.submit button {line-height:43px; width:100%; font-size:16px;  font-weight:500; color:#2E68FF; background:#fff;}

/* searchWrap::type1 */
.searchWrap.type2 {padding:10px 20px; background:#F1F3F9; border-radius:10px;}
.searchWrap.type2 .inputWrap {}
.searchWrap.type2 .inputWrap span {font-size:15px; font-weight:500; color:#171717; display:inline-block; padding-right:10px;}
.searchWrap.type2 .inputWrap span.bar {padding:0; width:18px; text-align:center;}

/* subTit */
.subTit {position:relative;}
/* subTit::type1 */
.subTit.type1 {padding:15px 0; border-bottom:1px solid #BCC7CA;}
.subTit.type1 h3 {padding-left:30px; color:#171717; font-size:23px; font-weight:700; background:url(../../images/common/i-subTit.png)0 50% no-repeat;}

/* subTit::type2 */
.subTit.type2 h4 {padding-bottom:10px; font-size:17px; color:#171717; font-weight:600;}

/* subTit::type3 */
.subTit.type3 {border-bottom:1px solid #BCC7CA;}
.subTit.type3 h4 {padding-bottom:10px;color:#171717; font-size:18px; font-weight:700;}

/* boxTit */
.boxTit {}
/* boxTit::type1 */
.boxTit.type1 {}
.boxTit.type1 {padding-bottom:8px; border-bottom:1px solid #BCC7CA;}
.boxTit.type1 h3 {font-size:20px; font-weight:700; color:#171717;}
.boxTit.type1 h3 {}

.listWrap {}
.listWrap.div2 {}
.listWrap.div2>div {float:left;width:calc((100% - 20px)/2);}
.listWrap.div2>div+div {margin-left:20px;}

.detailWrap {background:#fff;border:1px solid #C9E1E8;}

/* boxWrap */
.borderBox {background-color:#fff;border:1px solid #C9E1E8; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,.1);}
.borderBoxType1 {padding:20px; background-color:#fff; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,.1);}
.borderBoxType2 {padding:20px; background-color:#fff; border-radius:10px; border:1px solid #C9E1E8;}
.boxWrap {}
.boxWrap .boxInner {}
.boxInner.type1 {border:1px solid #abb8bc;border-radius:10px;}
.boxInner.type2 {padding:20px 35px; background:#fff;border:1px solid #C9E1E8; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,.1);}
.boxInner.type3 {padding:20px; background:#fff;border:1px solid #C9E1E8; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,.1);}
/* boxWrap::type1 */
.boxWrap.type1 .boxInner {padding:20px; background:#fff;border:1px solid #C9E1E8; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,.1);}

a.hoverColor1.on, a.hoverColor1:hover {background-color:#008B8B !important; color:#fff !important;}
a.hoverColor2.on, a.hoverColor2:hover {background-color:#96D019 !important; color:#fff !important;}

/* board::listResult */
.board .listResult {}
.board .listResult.type1 {text-align:right; line-height:50px;}
.board .listResult.type1 p {padding-left:25px; display:inline-block; background:url(../../images/common/i-listResult.png)0 50% no-repeat;}
.board .listResult.type1 p span {color:#2E68FF;}
/* ***** 뷰페이지:type1 ***** */
.viewWrap.type1 {}
.viewWrap.type1 .viewTit {padding:30px 40px; border:1px solid #e5e5e5; border-top:1px solid #008B8B ; border-bottom:0;}
/* .viewWrap.type1 .viewTit {padding:30px 20px; background:#638CA0;} */
.viewWrap.type1 .viewTit {background-color:#fff;}
.viewWrap.type1 .viewTit h4 {font-size:24px; font-weight:500; color:#000; line-height:1.2;}
.viewWrap.type1 .viewData {background-color:#fff; border:1px solid #e5e5e5;}
.viewWrap.type1 .viewData>div {position:relative; display:table; width:100%; }
.viewWrap.type1 .viewData>div>* {display:table-cell; vertical-align:middle; padding:10px 20px;}
.viewWrap.type1 .viewData>div+div {border-top:1px solid #e5e5e5;}
.viewWrap.type1 .viewData>div b {width:200px;font-weight:500; color:#444;text-align:center;background:#f9f9f9;}
.viewWrap.type1 .viewData>div div {}
.viewWrap.type1 .viewData>div a {
    display:inline-block;margin-right:9px; padding-right:11px;  font-weight:400; line-height:1.2; color:#666;border-right:2px solid #ccc;
    padding:0 20px; background:url(../../images/common/upload_file_icon.png)0 0 no-repeat;
}
.viewWrap.type1 .viewData>div a:last-child {border:0;}
.viewWrap.type1 .viewData input,
.viewWrap.type1 .viewData select {max-width:100%;}
.viewWrap.type1 .viewData .file {}
.viewWrap.type1 .viewData .file div span {display:block;}
.viewWrap.type1 .viewData .file div span+span {margin-top:5px;}
.viewWrap.type1 .viewInner {background-color:#fff; margin-top:10px;line-height:1.8; padding:40px 50px; border:1px solid #e5e5e5; }
.viewWrap.type1 .viewTextarea {background-color:#fff; margin-top:10px; width:100%; padding:12px 20px; border:1px solid #e5e5e5;}
.viewWrap.type1 .viewTextarea textarea {width:100%; border:0; min-height:300px;}
.viewWrap.type1 .viewTextarea textarea:focus {outline:0;}
.viewWrap.type1 .viewData textarea {width:100%; border:0; min-height:200px;}
.viewWrap.type1 .viewData textarea:focus {outline:0;}
.viewWrap.type1 input[type="text"] {padding:0 10px; height:40px; line-height:38px; width:100%; border:1px solid #e5e5e5;}

.board .board-tit {font-size:20px; padding-bottom:20px; font-weight:900;}

/* 20211129 ADD */.gradeCalc {padding-top:10px; font-size:0;}
/* 20211129 ADD */.gradeCalc.right {text-align:right;}
/* 20211129 ADD */.gradeCalc.right {}
/* 20211129 ADD */.gradeCalc-result {display:inline-block;width:200px; font-size:16px; height:40px; line-height:40px; }
/* 20211129 ADD */.gradeCalc-result>* {width:100%; padding:0 20px; display:block;text-align:center;}
/* 20211129 ADD */.gradeCalc-result a {background:#0081c2; color:#fff;}
/* 20211129 ADD */.gradeCalc-result a:hover {color:#fff;}
/* 20211129 ADD */.gradeCalc-result p {background:#ddd;}

/* 20211129 ADD */.gradeCalc.w100 {width:100%;}
/* 20211129 ADD */.gradeCalc.w100 .gradeCalc-result {width:50%; height:50px; line-height:50px; }



/* ************************* // END 공통 ************************* */

/* ************************* // 로그인 ************************* */
body.login {height:100vh;}
.login-wrap {width:100%;height:100%;background:url(../../images/common/bg_login.jpg)50% 50% /cover no-repeat; display:flex;align-items:center; position:relative;}
.login-wrap .cover {position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,.7);}
.login-wrap .login-bx{padding:90px; width:600px; border-radius:10px;margin:0 auto; background-color: #fff; position:relative;}
.login-wrap .login-bx .login-title{position:relative;margin-bottom:60px;}
.login-wrap .login-bx .login-title span {display:block;font-size:36px;line-height:40px;font-weight:700;color:#1e7ba9; padding-top:10px;}
.login-wrap .login-bx .login-title img {height:40px;}
.login-wrap .login-bx form{}
.login-wrap .login-bx .write-div{margin-bottom:40px;}
.login-wrap .login-bx .write-div label{color:#000;display:block;font-size:15px;font-weight:100;margin-bottom:5px;}
.login-wrap .login-bx .write-div input{border-radius:0;color:#000;padding:10px 0;display:block;width:100%;background:none;-webkit-outline:0;outline:0;border:0;border-bottom:1px solid rgba(0,0,0,.5);line-height:1;}
.login-wrap .login-bx .btn-submit{text-align:center;margin:20px 0 0;cursor:pointer;border-radius:10px;border:0;outline:0;color:#fff;height:70px;line-height:66px;width:100%;display:block;}
.login-wrap .login-bx .btn-submit{border:2px solid #1e7ba9; color:#1e7ba9}
.login-wrap .login-bx .btn-submit:hover {background:#1e7ba9; color:#fff;}
.login-wrap .login-bx .btn-wrap{text-align:center;}
.login-wrap .login-bx .btn-wrap a{display:inline-block;color:#fff;font-size:14px;text-decoration:none; opacity:.8;}
.login-wrap .login-bx .btn-wrap a:hover {opacity:1;}
.login-wrap .login-bx .btn-wrap .bar{display:inline-block;height:10px;background:#fff;width:1px;margin:0 12px;}

/* ************************* // END 로그인 ************************* */


/* ************************* 검색조건 ************************* */
.searchConditions {}
/* .searchConditions-wrap {padding:20px 35px; background:#fff;border:1px solid #C9E1E8; border-radius:10px; box-shadow:0 0 10px rgba(0,0,0,.1);} */
.searchConditions-wrap {}
.searchForm {}
.searchForm.formLayout {padding-top:10px;}

/* ************************* // END 검색조건 ************************* */


/* ************************* 구제신청 ************************* */
.apply {padding-bottom:100px; position:relative;}
.apply .adminBtn {padding:16px 32px; line-height:1; font-size:24px; color:#fff; background:#2D7BE3; border-radius:8px; position:absolute; top:40px; right:40px;}

/* ---- 2021.12.27 ADD START --------- */
.apply-tit {font-size:24px; color:#000; line-height:1; padding-bottom:13px; font-weight:600; position:relative;}
.apply-tit .docPlus {position:absolute; right:0; top:0; display:block; padding:0 20px; border-radius:0.25rem;}
.apply-tit .docPlus {line-height:30px; font-size:14px; font-weight:300; background:#96D019; color:#fff;}
/* ---- 2021.12.27 ADD END ----------- */
.apply-space {height:50px;}

/* 구제급여::신청 */
.relief-tab {padding-bottom:65px;}
.relief-select {}
.relief-select p {font-size:22px; font-weight:500;text-align:center;}
.relief-select p span {color:#008B8B;}
.relief-select a {margin:25px auto 0; display:block;width:700px;  max-width:100%;padding:30px 60px; font-size:24px; font-weight:500; color:#000; border-radius:50px; background:#fff url(../../images/apply/i-victim.svg) calc(100% - 60px) 50% no-repeat; text-align:left;}
.relief-select a:hover {background-color:#96D019; color:#fff;}
.relief-select a.victim {}
.relief-select a.agent {background-image:url(../../images/apply/i-agent.svg)}
.relief-select a:hover {background-image:url(../../images/apply/i-victim-on.svg)}
.relief-select a.agent:hover {background-image:url(../../images/apply/i-agent-on.svg)}
.relief-select a span {display:inline-block; color:#fff; font-size:14px; font-weight:300; width:85px; height:30px; line-height:30px; border-radius:15px; text-align:center; vertical-align:middle;}
.relief-select a span.survival {background:#008B8B;}
.relief-select a span.death {background:#7A828B;}

.relief-agree {padding:24px 26px; border:1px solid #ddd; border-radius:20px; position:relative; background:#fff;}
.relief-agree p {line-height:1.8; font-size:15px; color:#000;}
.relief-agree div {margin-left:calc(100% - 120px)}
.relief-agree div input[type="checkbox"] { position:absolute; left:-999999px;}
.relief-agree div input[type="checkbox"]+label {display:block; padding:0; background:#eee; border-radius:15px; width:120px; height:30px; line-height:30px; font-size:14px; color:#202020; text-align:center;}
.relief-agree div input[type="checkbox"]:checked+label {color:#fff; background:#8EC31F;}


/* 구제급여::접수 */
.personnelWrap {}

.stats-inner {}


/* ************************* SMS관리 ************************* */
.smsWrap {}
.smsWrap .smsInner {}
.smsWrap .smsItem {}
.smsWrap .smsItem+.smsItem {padding-left:60px;}
.smsWrap .smsInput {}
.smsWrap .smsInput textarea {padding:30px; width:100%; height:350px; border-radius:15px; border:1px solid #7a828b; overflow-y:auto; box-shadow:3px 3px 3px rgba(0,0,0,0.1) inset; background:#FBFCFD;}
.smsWrap .smsItem .inputWrap {}
.smsWrap .smsItem .inputWrap>* {margin-right:10px; height:40px; line-height:38px;}
.smsWrap .smsItem .inputWrap span {}
.smsWrap .smsItem .inputWrap input {border:1px solid #abb8bc; border-radius:5px; font-size:15px; font-weight:500;}
.smsWrap .smsItem .inputWrap button {padding:0 20px; color:#fff; background:#012863; border-radius:5px; font-size:15px; font-weight:500;}
.smsWrap .smsItem .smsRecipient {}
.smsWrap .smsItem .smsRecipient>div {float:left;}
.smsWrap .smsItem .smsRecipientNum {padding:30px; width:420px; height:350px; border-radius:15px; border:1px solid #7a828b; overflow-y:auto;background:#F1F3F9;}
.smsWrap .smsItem .smsRecipientNum input {width:100%; border:1px solid #ABB8BC; border-radius:5px; color:#ABB8BC;}
.smsWrap .smsItem .smsRecipientNum input+input {margin-top:8px;}
.smsWrap .smsItem .smsRecipientInput {padding-left:40px;}
.smsWrap .smsItem .smsRecipientInput p {color:#2E68FF; font-size:17px; font-weight:600;}
.smsWrap .smsItem .smsRecipientInput input {}


/* ************************* // END SMS관리 ************************* */


/* ************************* 권환 별 메뉴관리 ************************* */
.menu-list {}
.menu-list>div {float:left;}
.menu-list .moveMenu {padding-top:80px;}
.menu-list .moveMenu a {margin:20px; display:block; width:50px; height:50px; border-radius:10px; box-shadow:0 0 7px rgba(0,0,0,.1); background:#fff center no-repeat;}
.menu-list .moveMenu a.left {background-image:url(../../images/common/i-moveMenu-left.png)}
.menu-list .moveMenu a.right {background-image:url(../../images/common/i-moveMenu-right.png)}
.menu-list .moveMenu a:hover {background-color:#f7f7f7;}
.menu-list .menuTable {width:calc((100% - 90px)/2);}
.menu-list .menuTable .tableWrap {min-height:300px;}
.menu-list .menuTable.curr {}
.menu-list .menuTable.add {}


/* ************************* // END 권환 별 메뉴관리 ************************* */


/* ************************* // 게시판  ************************* */

.listBoard th{ border-right : none !important;}
.btnView{ cursor: pointer; color:black;}
.totalCount p{ padding-left: 25px;display: inline-block; background: url(../../images/common/i-listResult.png)0 50% no-repeat;}
.totalCount{ text-align: right;  line-height: 50px;}
.totalCount p span {  color: #2E68FF; }
.formGroup  span.must:after, div b.must:after { content: '*'; color: #f00;  position: absolute; line-height: 1;  }

/* ************************* //END 게시판  ************************* */



/* 2022.12.02 SEARCH AREA FOLDING DESIGN ************************* */
.topBox {position:relative; padding:30px 20px 50px; background:#f9f9f9; border-radius:10px;}
.topBox .viewBtn {width:40px; height:40px; background:#fff url(../../images/common/arrowClose.svg)center no-repeat; display:block; border-radius:50%; position:absolute; left:50%; bottom:-20px; transform:translateX(-50%);}
.topBox.off .viewBtn {background-image:url(../../images/common/arrowOpen.svg)}
.topBox.off .searchConditions {height:0; overflow:hidden;}




